<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3344 - Lab 1</title>
</head>
<body>
<h1>Welcome to My Website</h1>
    <ul>
        <li>Reading</li>
        <li>Travelling</li>
        <li>Gaming</li>
    </ul>
    <a href="https://example.com">Click Here to view my profile</a>
</body>
</html>